body {
    padding: 25px;
}

.buttons {
    margin-bottom: 25px;
}

.js-gifs-appear-here {
    display: flex;
    flex-wrap: wrap;
}

.js-gifs-appear-here > div {
    margin-right: 10px;
}

.js-gifs-appear-here > div > p {
    margin-top: 0;
}